
/*******************
General
*******************/
html {
    background: rgba(0, 0, 0, 0.1);
}
body {
    margin-bottom: 0;
    color: #4d4d4f;
}
.container-fluid {
    max-width: 1180px; /*optimised for 1366px screen-res*/
}
a, a:link, a:visited {
    color: #81c241;
}
a:hover, a:active, .breadcrumb a:hover {
    text-decoration: underline;
}
.breadcrumb {
    color: #aaa;
}
.breadcrumb a {
    color: #4d4d4f;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
div, span, button, input {
    border-radius: 0 !important;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #221f1f;
    background-image: none;
    filter: none;
    color: #fff;
}
button:hover, input input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #333;
    background-image: none;
    filter: none;
}
.navbar .nav.pull-right {
    margin-right: 0;
    padding: 0 10px;
    background: #none;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a  {
    background-image: none !important;
    background: #e8e8e8;
    color: #333;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner,
.navbar-fixed-top .navbar-inner .container-fluid {
    background: #6b6e72;
    filter: none;
}
.navbar .nav > li > a {
    padding: 5px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}
div#totaramenu ul li,
div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu > ul > li.first > a {
    /*border-right: 1px solid #747578 !important;*/
}
div#totaramenu ul li a, div#custommenu ul li a {
    border-color: #fff;
    color: #fff;
    padding: 7px 14px;
    background: #86898e;
}
div#totaramenu ul li a:hover, div#custommenu ul li a:hover {
    background: #81c241;
    color: #fff;
    filter: none;
}
div#custommenu ul li.selected a, div#totaramenu ul li.selected a {
    background: #81c241;
    color: #fff;
    border-radius: 0;
    border-left: 1px solid #747578 !important;
}
div#totaramenu ul ul, 
div#custommenu ul ul {
    box-shadow: none;
}

/********************************
Header
********************************/
#page-header {
    background: #81c241 url([[pix:theme|bg_header]]) no-repeat right 79px;
}
#page-navbar-wrapper {
    border: none;
    background: #fff;
}
.logininfo {
    padding-left: 0;
    font-size: 1em;
    color: #aaa;
}
.logininfo a {
    color: #fff;
}
.logininfo a:hover {
    text-decoration: underline;
}
.user-picture img {
    border-radius: 50%;
    background-clip: padding-box;
}
.navbar-text {
    line-height: 1em;
    padding: 9px 0;
}
.logo {
    padding: 30px 15px;
}
.bannertext {
    margin-top: -112px;
    padding-right: 15px;
}
.bannertext p {
    color: #172A48;
    font-size: 1.3em;
}
#page-site-index .breadcrumb-nav {
    /*display: none;*/
}

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: #efefef url([[pix:theme|bg_corner]]) no-repeat bottom right;
    margin-bottom: 15px;
}
.block .header, .block-region .hidden .header {
    background: #c5c7c8 !important;
    background-image: none;
    border-bottom: 1px solid #fff;
}
.block .header .title h2, .block h3.main {
    padding: 2px 6px;
}
.block .content {
    background: none;
}
.block_settings hr {
    display: none;
}

/*Block - Navigation*/
.block_navigation.block .header, .block_navigation.block .hidden .header {
    background: #153fac !important;
}
.block_navigation.block .content {
    background: #526eb6 url([[pix:theme|bg_corner]]) no-repeat bottom right;
}
.block_navigation.block .header .title h2,
.block_navigation.block .content,
.block_navigation.block .content a {
    color: #fff !important;
}
.block_navigation.block .content span {
    color: #fff !important;
    font-weight: bold;
}
.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch {
    background-image: url([[pix:theme|core/t/collapsed]]);
}
.block_navigation .block_tree .tree_item.branch {
    background-image: url([[pix:theme|core/t/expanded]]);
}

/*Block - Admin or Settings*/
.block_settings.block .header, .block_settings.block .hidden .header {
    background: #ef5440 !important;
}
.block_settings.block .content {
    background: #ed6c62 url([[pix:theme|bg_corner]]) no-repeat bottom right;
}
.block_settings.block .header .title h2,
.block_settings.block .content,
.block_settings.block .content a {
    color: #fff !important;
}
.block_settings.block .content span {
    color: #fff !important;
    font-weight: bold;
}
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch {
    background-image: url([[pix:theme|core/t/collapsed]]);
}
.block_settings .block_tree .tree_item.branch {
    background-image: url([[pix:theme|core/t/expanded]]);
}

/********************************
Topics Format
********************************/
.topics .current {
    border: 2px solid #81c241 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/********************************
Tiles Format
********************************/
#tileoutlinearea h3.sectionname {
    color: #fff !important;
    font-size: 1.7em;
}
.tileoutlinearea {
    background-position: top right !important;
    border-radius: 0 !important;
    min-height: 200px;
    padding: 0;
}
.tileoutlinecontent {
    /*background: rgba(99, 162, 37, 0.7);*/
    background: transparent url([[pix:theme|bg_tile0_corner]]) no-repeat bottom right;
    /*width: 40%;*/
    padding: 20px 25px !important
}
.tileoutlinecontent h1,
.tileoutlinecontent  p {
    color: #fff;
}
.tile a {
    color: #fff;
    background-image: url([[pix:theme|tilebg]]) !important;
}
.tiletitle, .tile a:hover .tiletitle {
    background: #81c241 url([[pix:theme|bg_corner]]) no-repeat right 21px !important;
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
#tileoutlinetiles a {
    border-radius: 0 !important;
}
.tilecontentarea.section.current {
    border: 2px solid #81c241 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tile.currentsection a {
    border: 2px solid #81c241 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Topics view */
.tiletopicnav ul li a {
    color: #4d4d4f !important;
    border: 1px solid #939ba0;
    background: #fff !important;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #939ba0 !important; 
    color: #fff !important;
}
.tiletopicnav ul li a.current {
    background: #8c2c8e !important;
    border: 1px solid #8c2c8e;
}
.tiletopicnav .currentsection {
    border: 2px solid #81c241 !important;
}

/********************************
Front Page
********************************/
#custom-homepage-regions #region-hero-unit {
    padding: 0;
}

/********************************
Docking
********************************/
body.has_dock div#dock {
    background: -moz-linear-gradient(left center , #fff 10%, #e5e5e5 60%, #afafaf 100%) repeat scroll 0 0 #f2f2f2;
}
#dockeditempanel {
    left: 85%;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}
#dockeditempanel .dockeditempanel_content {
    box-shadow: none;
}

/********************************
Footer
********************************/
#page-footer {
    background: rgba(0, 0, 0, 0.1);
    height: auto;
    position: relative;
    border: none;
}
#page-footer #footnotewrapper {
    padding: 20px 0;
    /*background: url([[pix:theme|logo_footer]]) no-repeat right center;*/
}
#page-footer .footer-text {
   /* padding-top: 15px; */
    float: left;
}
#page-footer .logo2 {
    float: left;
    margin-right: 15px;
    display: none;
}
#page-footer .footer-logos {
    float: right;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#region-main > div > br {
    display: none;
}

/********************************
Custom Login
********************************/
body#page-login-index {
    background: #fff url([[pix:theme|bg_login]]) no-repeat bottom right;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index .loginbox {
    border: none;
    background: transparent url([[pix:theme|bg_login_transp]]) no-repeat bottom right;
    width: 60%;
    float: left;
}
#page-login-index .loginbox .subcontent {
    padding-top: 0;
}
#page-login-index .loginpanel {
    max-width: 100%;
}
#page-login-index .loginbox .loginform .form-input {
    width: auto;
    float: none;
    text-align: center;
    padding-bottom: 10px;
}
#page-login-index #page-navbar-wrapper {
    display: none;
}
#page-login-index #region-main {
    padding: 55px 10px;
}
#page-login-index .loginbox h2 {
    font-size: 2em;
    line-height: 1.2;
    padding: 0;
    padding-bottom: 10px;
}
#page-login-index .loginbox .loginform .form-input input {
    padding: 1em;
    width: 30%;
    text-align: center;
}
#page-login-index #loginbtn {
    padding: 0.75em 2em;
    font-size: 2em;
    background:  #221f1f url([[pix:theme|btn_login]]) no-repeat 145px 25px;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    #page {
        padding: 15px;
    }
    .logo img {
        width: 200px;
    }
    .logo {
        padding: 15px 0 5px 0;
    }
    .bannertext {
        margin-top: 0;
        padding-bottom: 5px;
    }
    .bannertext {padding-top: 0 !important;}
    .bannertext.text-right img {
        width: 200px;
        height: auto;
    }
    .user-picture {
        padding-right: 0 !important;
    }
    .logo img {
        width: auto;
    }
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    #page-footer {
        padding: 0;
    }
    /*Login page*/
    #page-login-index #region-main {
        padding: 10px 0;
    }
    #page-login-index .loginbox {
        width: 100%;
        float: none;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #ddd;
    }
    #page-login-index .loginbox .loginform .form-input input {
        width: 90%;
        max-width: 100%;
    }
    /* Tile */
    .tileoutlinecontent {
        background: rgba(0,0,0,0.8);
    }
}

@media (max-width: 979px) { 
    body.has_dock {
        margin-left: 44px;
    }
    #block-region-side-pre, #block-region-side-post {
        padding: 0;
    }
    #page-footer .logo2,
    #page-footer .footer-text,
    #page-footer .footer-logos {
        float: none;
        text-align: center;
        padding: 0;
    }
    #page-footer .footer-logos {
        padding-top: 10px;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]