/* course_rating
-------------------------*/
.block_course_rating .rating_star,
.block_course_rating .average_star
{
	background-image: url([[pix:block_course_rating|starblank]]);
	width: 20px;
	height: 19px;
	display: inline-block;
}

.block_course_rating .starfull
{
	background-image: url([[pix:block_course_rating|starfull]]);
}

.block_course_rating .starhide
{
	display: none;
}

.block_course_rating .starnull
{
	background-image: url([[pix:block_course_rating|nullstar]]);
}

.block_course_rating .ratelink .starfull:hover,
.block_course_rating .ratelink .starnull:hover
{
	background-position: 0px -20px;
}

.block_course_rating .myrate_label_strong,
.block_course_rating .avg_label,
.block_course_rating .total_rating
{
	font-weight: bold;
}

.block_course_rating .total_rating
{
	vertical-align: top;
	margin-left: 5px;
}

.block_course_rating .ratinglabel
{
	margin-top: 0px;
}

.block_course_rating .ratinglabel div
{
	display: inline-block;
	width: 20px;
	text-align: center;
	font-size: 10px;
}

